name: Update latest release version

on:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current release version
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            latest_version.txt
          sparse-checkout-cone-mode: false

      - name: Fetch latest release version
        run: |
          latest_version=$(curl -fsSL "https://api.github.com/repos/itdoginfo/allow-domains/releases/latest" | jq -r ".tag_name")
          if [[ -n $latest_version && $latest_version != "null" ]]; then
            echo "$latest_version" > latest_version.txt
          fi

      - name: Check for changed release version
        id: version
        run: |
          if [ -z "`git status --porcelain`" ]; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo -e "changed=true\nvalue=$(head -n 1 latest_version.txt)" >> $GITHUB_OUTPUT
          fi

      - name: Commit changed release version
        if: steps.version.outputs.changed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "chore: new lists release (${{ steps.version.outputs.value }})"
          git push
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Trigger .dat files build
        if: steps.version.outputs.changed == 'true'
        uses: peter-evans/repository-dispatch@v4
        with:
          event-type: trigger-dat-build
          client-payload: '{"version": "${{ steps.version.outputs.value }}"}'
